<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd">
 
    <bean id="itemBean" class="com.fh.springexpression.xml.Item">
        <property name="name" value="itemA" />
        <property name="total" value="10" />
    </bean>
 
    <bean id="customerBean" class="com.fh.springexpression.xml.Customer">
        <property name="item" value="#{itemBean}" />
        <property name="itemName" value="#{itemBean.name}" />
    </bean>
    
    <!-- 
    	1. #{itemBean}——将itemBean注入到customerBean的item属性中。
		2. #{itemBean.name}——将itemBean 的name属性，注入到customerBean的属性itemName中。
	 -->

	<!-- <bean id="customerBean2" class="com.fh.springexpression.annotation.Customer">

		<property name="testEqual" value="#{1 == 1}" />
		<property name="testNotEqual" value="#{1 != 1}" />
		<property name="testLessThan" value="#{1 lt 1}" />
		<property name="testLessThanOrEqual" value="#{1 le 1}" />
		<property name="testGreaterThan" value="#{1 > 1}" />
		<property name="testGreaterThanOrEqual" value="#{1 >= 1}" />

		<property name="testAnd" value="#{numberBean.no == 999 and numberBean.no lt 900}" />
		<property name="testOr" value="#{numberBean.no == 999 or numberBean.no lt 900}" />
		<property name="testNot" value="#{!(numberBean.no == 999)}" />

		<property name="testAdd" value="#{1 + 1}" />
		<property name="testAddString" value="#{'1' + '@' + '1'}" />
		<property name="testSubtraction" value="#{1 - 1}" />
		<property name="testMultiplication" value="#{1 * 1}" />
		<property name="testDivision" value="#{10 / 2}" />
		<property name="testModulus" value="#{10 % 10}" />
		<property name="testExponentialPower" value="#{2 ^ 2}" />

	</bean>

	<bean id="numberBean" class="com.fh.springexpression.annotation.Number">
		<property name="no" value="999" />
	</bean> -->
</beans>